{% extends 'employment/base.html' %}
{% block title %}  Edit {% endblock %}
{% block content %}
	<div>
		<blockquote>
		<fieldset>
		<legend>Employer Name</legend>
		<p>
			<label class="info">{{emp.fname}}</label>
			<label class="info">{{emp.mname}}</label>
			<label class="info">{{emp.lname|safe}}</label>
		</p>
		</fieldset>

		<fieldset>
		<legend>Address</legend>
		<p>
			<label class="label">City:</label>
			<label class="info">{{emp.city}}</label>
		</p>
		<p>	
			<label class="label">State:</label>
			<label class="info">{{emp.state}}</label>
		</p>
		<p>	
			<label class="label">Country:</label>
			<label class="info">{{emp.country}}</label>
		</p>
		<p>	
			<label class="label">Pincode:</label>
			<label class="info">{{emp.pincode}}</label>

		</p>
		</fieldset>

		<fieldset>
		
			<legend>Contact Information</legend>
		<p>		
			<label class="label">Email:</label>
			<label class="info">{{emp.email}}</label>
		</p>
		<p>	
			<label class="label">Mobile No:</label>
			<label class="info">{{emp.mobile}}</label>
		</p>
		</fieldset>

		<fieldset>
			<legend>Education Details.....</legend>
			<p>
				<label class="label">Higher Specification:</label>
				<label class="info" style="margin-right:40px;">{{edu.higher_specification}}</label>
			
			
				<label class="label">Passing Year:</label>
				<label class="info">{{edu.higher_year}}</label>
			</p>
			<p>
				<label class="label">Secondary Specification</label>
				<label class="info" style="margin-right:40px;">{{edu.secondary_specification}}</label>

				<label class="label">Passing Year:</label>
				<label class="info" >{{edu.secondary_year}}</label>
			</p>
			<p>
				<label class="label">Graduation:</label>
				<label class="info" style="margin-right:40px;">{{edu.graduation}}</label>
				<label class="label">Passing Year:</label>
				<label class="info" style="margin-right:40px;">{{edu.year}}</label>
				<label class="label">University:</label>
				<label class="info">{{edu.university}}</label>
			</p>

			

		</fieldset>

		<p>
			<a href="{% url 'edit-employer' emp.id %}">Edit</a>
			<a href="{% url 'home'%}">Back</a>
		</p>
		</blockquote>
	</div>

{% endblock %}